profile-container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
}
body{
  background-color: aqua;
}
.profile-header {
  text-align: center;
  margin-bottom: 20px;
}

.profile-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.edit-form input,
.edit-form textarea {
  display: block;
  width: 90%;
  margin: 5px auto;
}

.profile-stats {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.stat-item {
  text-align: center;
  padding: 10px;
  border-radius: 8px;
  transition: transform 0.2s;
}

.stat-item:hover {
  transform: scale(1.05);
  background-color: #e6f7ff;
}

.heatmap-container {
  text-align: center;
  margin-bottom: 30px;
}

.react-calendar-heatmap .color-empty {
  fill:white;
}

.react-calendar-heatmap .color-scale-1 {
  fill: #c6e48b;
}

.react-calendar-heatmap .color-scale-2 {
  fill: #7bc96f;
}

.react-calendar-heatmap .color-scale-3 {
  fill: #239a3b;
}

.react-calendar-heatmap .color-scale-4 {
  fill: #196127;
}

.profile-bottom-links {
  display: flex;
  justify-content: space-around;
}

.profile-bottom-links button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #1e90ff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.profile-bottom-links button:hover {
  background-color: #1c86ee;
}